<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="push">

                <div class="xheadr">
                        <div class="imagleft">
                                <img src="https://tba-vendor-dev.herokuapp.com/static/location/brewery2.png" />
                        </div>

                        <label class="grid-title">Happy Beer Brewery</label>

                </div>

                <mat-list>
                        <mat-list-item>
                                <mat-icon>local_drink</mat-icon>
                                <h5 class="h-text"> overview </h5>
                        </mat-list-item>

                        <mat-list-item>
                                <mat-icon>local_drink</mat-icon>
                                <h5 class="h-text"> drinks </h5>
                        </mat-list-item>


                        <mat-list-item>
                                <mat-icon>event_available</mat-icon>
                                <h5 class="h-text"> events </h5>
                        </mat-list-item>



                        <mat-list-item>
                                <mat-icon>panorama_fish_eye
                                </mat-icon>
                                <h5 class="h-text"> Stamp and Control </h5>
                        </mat-list-item>




                        <mat-list-item>
                                <mat-icon>rate_review</mat-icon>
                                <h5 class="h-text"> Review list </h5>
                        </mat-list-item>





                        <mat-list-item>
                                <mat-icon>graphic_eq</mat-icon>
                                <h5 class="h-text"> Statistics </h5>
                        </mat-list-item>




                        <mat-list-item>
                                <mat-icon></mat-icon>
                                <h5 class="h-text"> </h5>
                        </mat-list-item>


                </mat-list>

                <div class="footer-grid">

                        <div class="ft-Ty">
                                <mat-list>
                                        <mat-list-item>
                                                <mat-icon>brightness_low</mat-icon>
                                                <h5 class="h-text"> settings </h5>
                                        </mat-list-item>
                                        <mat-list-item>
                                                <mat-icon>sort</mat-icon>
                                                <h5 class="h-text"> Terms </h5>
                                        </mat-list-item>


                                </mat-list>
                        </div>
                </div>

                <!-- <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon> -->

        </mat-drawer>

        <div class="example-sidenav-content">


                <div class="headgrid">
                        <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon>
                        <p class="title"> Your Beer </p>

                        <mat-icon class="mat-right">add</mat-icon>

                </div>
                <div id="homeGrid" class="tab-pip" *ngIf="isMobile()">
                        <mat-tab-group>
                                <mat-tab class="new-width" label="Beer on Tap">
                                        <div class="newc">

                                                        <p class="grid-p">3 Beer on tap</p>
                                                        <mat-card class="padding-0">
                                                                        <div id="beerCard">
                                                                          <div class="beer-card-logo">
                                                                            <div class="grid">
                                                                                <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                            </div>
                                                                          </div>
                                                                          <div class="beer-card-content">
                                                                            <div class="beer-card-header">
                                                                              <div class="font-600">title</div>
                                                                              <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                            </div>

                                                                            <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                        <div class="beer-card-rating-container rated-4">
                                                                                          <div class="beer-card-rating rating-1"></div>
                                                                                          <div class="beer-card-rating rating-2"></div>
                                                                                          <div class="beer-card-rating rating-3"></div>
                                                                                          <div class="beer-card-rating rating-4"></div>
                                                                                          <div class="beer-card-rating rating-5"></div>
                                                                                        </div>
                                                                                        <!-- <div>5</div> -->
                                                                                    </div>

                                                                            <div class="margin-top-bottom-5">
                                                                                <mat-chip-list>
                                                                                  <mat-chip color="primary" selected >
                                                                                   mango
                                                                                  </mat-chip>
                                                                                </mat-chip-list>

                                                                                <div class="beer-card-read-more">Reviews
                                                                                             
                                                                                                </div>
                                                                            </div>
                                                                         
                                                                          </div>
                                                                        </div>
                                                                      </mat-card>

                                                                      <mat-card class="padding-0">
                                                                                <div id="beerCard">
                                                                                  <div class="beer-card-logo">
                                                                                    <div class="grid">
                                                                                        <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="beer-card-content">
                                                                                    <div class="beer-card-header">
                                                                                      <div class="font-600">title</div>
                                                                                      <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                    </div>
        
                                                                                    <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                <div class="beer-card-rating-container rated-4">
                                                                                                  <div class="beer-card-rating rating-1"></div>
                                                                                                  <div class="beer-card-rating rating-2"></div>
                                                                                                  <div class="beer-card-rating rating-3"></div>
                                                                                                  <div class="beer-card-rating rating-4"></div>
                                                                                                  <div class="beer-card-rating rating-5"></div>
                                                                                                </div>
                                                                                                <!-- <div>5</div> -->
                                                                                            </div>
        
                                                                                    <div class="margin-top-bottom-5">
                                                                                        <mat-chip-list>
                                                                                          <mat-chip color="primary" selected >
                                                                                           mango
                                                                                          </mat-chip>
                                                                                        </mat-chip-list>
        
                                                                                        <div class="beer-card-read-more">Reviews
                                                                                                     
                                                                                                        </div>
                                                                                    </div>
                                                                                 
                                                                                  </div>
                                                                                </div>
                                                                              </mat-card>


                                                                              <mat-card class="padding-0">
                                                                                        <div id="beerCard">
                                                                                          <div class="beer-card-logo">
                                                                                            <div class="grid">
                                                                                                <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="beer-card-content">
                                                                                            <div class="beer-card-header">
                                                                                              <div class="font-600">title</div>
                                                                                              <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                            </div>
                
                                                                                            <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                        <div class="beer-card-rating-container rated-4">
                                                                                                          <div class="beer-card-rating rating-1"></div>
                                                                                                          <div class="beer-card-rating rating-2"></div>
                                                                                                          <div class="beer-card-rating rating-3"></div>
                                                                                                          <div class="beer-card-rating rating-4"></div>
                                                                                                          <div class="beer-card-rating rating-5"></div>
                                                                                                        </div>
                                                                                                        <!-- <div>5</div> -->
                                                                                                    </div>
                
                                                                                            <div class="margin-top-bottom-5">
                                                                                                <mat-chip-list>
                                                                                                  <mat-chip color="primary" selected >
                                                                                                   mango
                                                                                                  </mat-chip>
                                                                                                </mat-chip-list>
                
                                                                                                <div class="beer-card-read-more">Reviews
                                                                                                             
                                                                                                                </div>
                                                                                            </div>
                                                                                         
                                                                                          </div>
                                                                                        </div>
                                                                                      </mat-card>

                                                                                      <mat-card class="padding-0">
                                                                                                <div id="beerCard">
                                                                                                  <div class="beer-card-logo">
                                                                                                    <div class="grid">
                                                                                                        <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  <div class="beer-card-content">
                                                                                                    <div class="beer-card-header">
                                                                                                      <div class="font-600">title</div>
                                                                                                      <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                                    </div>
                        
                                                                                                    <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                                <div class="beer-card-rating-container rated-4">
                                                                                                                  <div class="beer-card-rating rating-1"></div>
                                                                                                                  <div class="beer-card-rating rating-2"></div>
                                                                                                                  <div class="beer-card-rating rating-3"></div>
                                                                                                                  <div class="beer-card-rating rating-4"></div>
                                                                                                                  <div class="beer-card-rating rating-5"></div>
                                                                                                                </div>
                                                                                                                <!-- <div>5</div> -->
                                                                                                            </div>
                        
                                                                                                    <div class="margin-top-bottom-5">
                                                                                                        <mat-chip-list>
                                                                                                          <mat-chip color="primary" selected >
                                                                                                           mango
                                                                                                          </mat-chip>
                                                                                                        </mat-chip-list>
                        
                                                                                                        <div class="beer-card-read-more">Reviews
                                                                                                                     
                                                                                                                        </div>
                                                                                                    </div>
                                                                                                 
                                                                                                  </div>
                                                                                                </div>
                                                                                              </mat-card>

                                                                                              <mat-card class="padding-0">
                                                                                                        <div id="beerCard">
                                                                                                          <div class="beer-card-logo">
                                                                                                            <div class="grid">
                                                                                                                <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                                            </div>
                                                                                                          </div>
                                                                                                          <div class="beer-card-content">
                                                                                                            <div class="beer-card-header">
                                                                                                              <div class="font-600">title</div>
                                                                                                              <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                                            </div>
                                
                                                                                                            <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                                        <div class="beer-card-rating-container rated-4">
                                                                                                                          <div class="beer-card-rating rating-1"></div>
                                                                                                                          <div class="beer-card-rating rating-2"></div>
                                                                                                                          <div class="beer-card-rating rating-3"></div>
                                                                                                                          <div class="beer-card-rating rating-4"></div>
                                                                                                                          <div class="beer-card-rating rating-5"></div>
                                                                                                                        </div>
                                                                                                                        <!-- <div>5</div> -->
                                                                                                                    </div>
                                
                                                                                                            <div class="margin-top-bottom-5">
                                                                                                                <mat-chip-list>
                                                                                                                  <mat-chip color="primary" selected >
                                                                                                                   mango
                                                                                                                  </mat-chip>
                                                                                                                </mat-chip-list>
                                
                                                                                                                <div class="beer-card-read-more">Reviews
                                                                                                                             
                                                                                                                                </div>
                                                                                                            </div>
                                                                                                         
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </mat-card>
                                                <!-- 
                                                <div class="full-view-grid">
                                                        <div class="inner-grid">
                                                                <img class="beer-img" src="assets/imgs/slide-3.jpg" alt="...">
                                                                <div class="te-grid">
                                                                        <div class="up-beer">
                                                                        <h6 class="tile-beer" > Red Machine IPA </h6>
                                                                         <P class="price-beer">$5</P>       
                                                                        </div> 
                                                                        <p matLine>
                                                                                <span> df </span>
                                                                                <span class="demo-2">dfddfdff </span>
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div> -->
                                        </div>
                                </mat-tab>
                                <mat-tab class="new-width" label="Archive">
                                        <div class="newc">   <p class="grid-pp">3 Beer in Archive list now</p>
                                                <mat-card class="padding-0">
                                                                <div id="beerCard">
                                                                  <div class="beer-card-logo">
                                                                    <div class="grid">
                                                                        <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                    </div>
                                                                  </div>
                                                                  <div class="beer-card-content">
                                                                    <div class="beer-card-header">
                                                                      <div class="font-600">title</div>
                                                                      <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                    </div>

                                                                    <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                <div class="beer-card-rating-container rated-4">
                                                                                  <div class="beer-card-rating rating-1"></div>
                                                                                  <div class="beer-card-rating rating-2"></div>
                                                                                  <div class="beer-card-rating rating-3"></div>
                                                                                  <div class="beer-card-rating rating-4"></div>
                                                                                  <div class="beer-card-rating rating-5"></div>
                                                                                </div>
                                                                                <!-- <div>5</div> -->
                                                                            </div>

                                                                    <div class="margin-top-bottom-5">
                                                                        <mat-chip-list>
                                                                          <mat-chip color="primary" selected >
                                                                           mango
                                                                          </mat-chip>
                                                                        </mat-chip-list>

                                                                        <div class="beer-card-read-more">Reviews
                                                                                     
                                                                                        </div>
                                                                    </div>
                                                                 
                                                                  </div>
                                                                </div>
                                                              </mat-card>

                                                              <mat-card class="padding-0">
                                                                        <div id="beerCard">
                                                                          <div class="beer-card-logo">
                                                                            <div class="grid">
                                                                                <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                            </div>
                                                                          </div>
                                                                          <div class="beer-card-content">
                                                                            <div class="beer-card-header">
                                                                              <div class="font-600">title</div>
                                                                              <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                            </div>

                                                                            <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                        <div class="beer-card-rating-container rated-4">
                                                                                          <div class="beer-card-rating rating-1"></div>
                                                                                          <div class="beer-card-rating rating-2"></div>
                                                                                          <div class="beer-card-rating rating-3"></div>
                                                                                          <div class="beer-card-rating rating-4"></div>
                                                                                          <div class="beer-card-rating rating-5"></div>
                                                                                        </div>
                                                                                        <!-- <div>5</div> -->
                                                                                    </div>

                                                                            <div class="margin-top-bottom-5">
                                                                                <mat-chip-list>
                                                                                  <mat-chip color="primary" selected >
                                                                                   mango
                                                                                  </mat-chip>
                                                                                </mat-chip-list>

                                                                                <div class="beer-card-read-more">Reviews
                                                                                             
                                                                                                </div>
                                                                            </div>
                                                                         
                                                                          </div>
                                                                        </div>
                                                                      </mat-card>

                                                                      <mat-card class="padding-0">
                                                                                <div id="beerCard">
                                                                                  <div class="beer-card-logo">
                                                                                    <div class="grid">
                                                                                        <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="beer-card-content">
                                                                                    <div class="beer-card-header">
                                                                                      <div class="font-600">title</div>
                                                                                      <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                    </div>
        
                                                                                    <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                <div class="beer-card-rating-container rated-4">
                                                                                                  <div class="beer-card-rating rating-1"></div>
                                                                                                  <div class="beer-card-rating rating-2"></div>
                                                                                                  <div class="beer-card-rating rating-3"></div>
                                                                                                  <div class="beer-card-rating rating-4"></div>
                                                                                                  <div class="beer-card-rating rating-5"></div>
                                                                                                </div>
                                                                                                <!-- <div>5</div> -->
                                                                                            </div>
        
                                                                                    <div class="margin-top-bottom-5">
                                                                                        <mat-chip-list>
                                                                                          <mat-chip color="primary" selected >
                                                                                           mango
                                                                                          </mat-chip>
                                                                                        </mat-chip-list>
        
                                                                                        <div class="beer-card-read-more">Reviews
                                                                                                     
                                                                                                        </div>
                                                                                    </div>
                                                                                 
                                                                                  </div>
                                                                                </div>
                                                                              </mat-card>

                                                                              <mat-card class="padding-0">
                                                                                        <div id="beerCard">
                                                                                          <div class="beer-card-logo">
                                                                                            <div class="grid">
                                                                                                <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="beer-card-content">
                                                                                            <div class="beer-card-header">
                                                                                              <div class="font-600">title</div>
                                                                                              <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                            </div>
                
                                                                                            <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                        <div class="beer-card-rating-container rated-4">
                                                                                                          <div class="beer-card-rating rating-1"></div>
                                                                                                          <div class="beer-card-rating rating-2"></div>
                                                                                                          <div class="beer-card-rating rating-3"></div>
                                                                                                          <div class="beer-card-rating rating-4"></div>
                                                                                                          <div class="beer-card-rating rating-5"></div>
                                                                                                        </div>
                                                                                                        <!-- <div>5</div> -->
                                                                                                    </div>
                
                                                                                            <div class="margin-top-bottom-5">
                                                                                                <mat-chip-list>
                                                                                                  <mat-chip color="primary" selected >
                                                                                                   mango
                                                                                                  </mat-chip>
                                                                                                </mat-chip-list>
                
                                                                                                <div class="beer-card-read-more">Reviews
                                                                                                             
                                                                                                                </div>
                                                                                            </div>
                                                                                         
                                                                                          </div>
                                                                                        </div>
                                                                                      </mat-card>


                                                                                      <mat-card class="padding-0">
                                                                                                <div id="beerCard">
                                                                                                  <div class="beer-card-logo">
                                                                                                    <div class="grid">
                                                                                                        <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  <div class="beer-card-content">
                                                                                                    <div class="beer-card-header">
                                                                                                      <div class="font-600">title</div>
                                                                                                      <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                                    </div>
                        
                                                                                                    <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                                <div class="beer-card-rating-container rated-4">
                                                                                                                  <div class="beer-card-rating rating-1"></div>
                                                                                                                  <div class="beer-card-rating rating-2"></div>
                                                                                                                  <div class="beer-card-rating rating-3"></div>
                                                                                                                  <div class="beer-card-rating rating-4"></div>
                                                                                                                  <div class="beer-card-rating rating-5"></div>
                                                                                                                </div>
                                                                                                                <!-- <div>5</div> -->
                                                                                                            </div>
                        
                                                                                                    <div class="margin-top-bottom-5">
                                                                                                        <mat-chip-list>
                                                                                                          <mat-chip color="primary" selected >
                                                                                                           mango
                                                                                                          </mat-chip>
                                                                                                        </mat-chip-list>
                        
                                                                                                        <div class="beer-card-read-more">Reviews
                                                                                                                     
                                                                                                                        </div>
                                                                                                    </div>
                                                                                                 
                                                                                                  </div>
                                                                                                </div>
                                                                                              </mat-card>
                                                                      <mat-card class="padding-0">
                                                                                <div id="beerCard">
                                                                                  <div class="beer-card-logo">
                                                                                    <div class="grid">
                                                                                        <img class="image-100" src="assets/imgs/slide-3.jpg" >
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="beer-card-content">
                                                                                    <div class="beer-card-header">
                                                                                      <div class="font-600">title</div>
                                                                                      <div class="justify-right padding-right-10">{{ 5 | currency : 'USD' : 'symbol' : '1.0' }} </div>
                                                                                    </div>
        
                                                                                    <div class="margin-top-bottom-5 beer-card-bottom">
                                                                                                <div class="beer-card-rating-container rated-4">
                                                                                                  <div class="beer-card-rating rating-1"></div>
                                                                                                  <div class="beer-card-rating rating-2"></div>
                                                                                                  <div class="beer-card-rating rating-3"></div>
                                                                                                  <div class="beer-card-rating rating-4"></div>
                                                                                                  <div class="beer-card-rating rating-5"></div>
                                                                                                </div>
                                                                                                <!-- <div>5</div> -->
                                                                                            </div>
        
                                                                                    <div class="margin-top-bottom-5">
                                                                                        <mat-chip-list>
                                                                                          <mat-chip color="primary" selected >
                                                                                           mango
                                                                                          </mat-chip>
                                                                                        </mat-chip-list>
        
                                                                                        <div class="beer-card-read-more">Reviews
                                                                                                     
                                                                                                        </div>
                                                                                    </div>
                                                                                 
                                                                                  </div>
                                                                                </div>
                                                                              </mat-card></div>
                                </mat-tab>
                        </mat-tab-group>
                </div>
        </div>

</mat-drawer-container>



<!--Carousel Wrapper-->





<div *ngIf="!isMobile()">
        <app-home-desktop [locations]="locations"></app-home-desktop>
</div>