 
<div class="comp">

<div class="top-head-grid">
  <div class="backspace">
    <i class="material-icons" routerLink="/maininfo">
      keyboard_backspace
    </i>
  </div>
  <label class="beername">
     Working Hours
  </label> 
  </div>  
<form>

  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{monHours?.day}}
        </mat-panel-title>
        </mat-expansion-panel-header>
   
      <mat-form-field>
        <input matInput placeholder="Opening in" value={{monHours?.opening_hour}}
        >
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Closure in" value={{monHours?.closing_hour}}>
      </mat-form-field>
      <mat-radio-group>
        <mat-radio-button value="1">Open 24 Hours</mat-radio-button>
        <mat-radio-button value="2">Day Off</mat-radio-button>
      </mat-radio-group>   
      </mat-expansion-panel>
    </mat-accordion>



    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{tueHours?.day}}

          </mat-panel-title>
          </mat-expansion-panel-header>
    
        <mat-form-field>
          <input matInput placeholder="Opening in" value={{tueHours?.opening_hour}}>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Closure in" value={{tueHours?.closing_hour}}>
        </mat-form-field>
        <mat-radio-group>
          <mat-radio-button value="1">Open 24 Hours</mat-radio-button>
          <mat-radio-button value="2">Day Off</mat-radio-button>
        </mat-radio-group>   
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{wedHours?.day}}

            </mat-panel-title>
            </mat-expansion-panel-header>
      
          <mat-form-field>
            <input matInput placeholder="Opening in" value={{wedHours?.opening_hour}}>
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Closure in" value={{wedHours?.closing_hour}}>
          </mat-form-field>
          <mat-radio-group>
            <mat-radio-button value="1">Open 24 Hours</mat-radio-button>
            <mat-radio-button value="2">Day Off</mat-radio-button>
          </mat-radio-group>   
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{thurHours?.day}}
              </mat-panel-title>
              </mat-expansion-panel-header>
        
            <mat-form-field>
              <input matInput placeholder="Opening in" value={{thurHours?.opening_hour}}>
            </mat-form-field>
        
            <mat-form-field>
              <input matInput placeholder="Closure in" value={{thurHours?.closing_hour}}>
            </mat-form-field>
            <mat-radio-group>
              <mat-radio-button value="1">Open 24 Hours</mat-radio-button>
              <mat-radio-button value="2">Day Off</mat-radio-button>
            </mat-radio-group>   
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{friHours?.day}}
                </mat-panel-title>
                </mat-expansion-panel-header>
          
              <mat-form-field>
                <input matInput placeholder="Opening in" value={{friHours?.opening_hour}}>
              </mat-form-field>
          
              <mat-form-field>
                <input matInput placeholder="Closure in" value={{friHours?.closing_hour}}>
              </mat-form-field>
              <mat-radio-group>
                <mat-radio-button value="1">Open 24 Hours</mat-radio-button>
                <mat-radio-button value="2">Day Off</mat-radio-button>
              </mat-radio-group>   
              </mat-expansion-panel>
            </mat-accordion>

            <div class="button-row">
              <button mat-flat-button color="">Save</button>
            </div>
   </form>
  </div>
    
  