<mat-card class="padding-0">
  <div id="beerCard">
    <div class="beer-card-logo">
      <div class="grid">
          <img class="image-100" src="{{ beer.beer.beer_logo }}" >
      </div>
    </div>
    <div class="beer-card-content">
      <div class="beer-card-header">
        <div class="font-600">{{ beer.beer.name }}</div>
        <div class="justify-right padding-right-10">{{ beer.beer.price | currency : 'USD' : 'symbol' : '1.0' }} </div>
      </div>
      <div class="margin-top-bottom-5">
          <mat-chip-list>
            <mat-chip color="primary" selected *ngFor="let style of beer.beer.beer_categories| slice:0:2;">
              {{style.beer_style.type}}
            </mat-chip>
          </mat-chip-list>
      </div>
      <div class="margin-top-bottom-5 beer-card-bottom">
        <div class="beer-card-rating-container rated-4">
          <div class="beer-card-rating rating-1"></div>
          <div class="beer-card-rating rating-2"></div>
          <div class="beer-card-rating rating-3"></div>
          <div class="beer-card-rating rating-4"></div>
          <div class="beer-card-rating rating-5"></div>
        </div>
        <div class="beer-card-read-more">Read More 
          <i class="material-icons">
            keyboard_arrow_right
            </i>
          </div>
    </div>
    </div>
  </div>
</mat-card>