.top-head-grid{
    width: 100%;
    padding: 15px;
    background: #043b40;
}


.backspace {
   float: left;
}

.image-upload > input
{
   display: none;
}

.beername {
   margin-left: 10%;
   color: white;
   font-size: 20px;
   font-weight: 500;
}

i.material-icons {
   color: white;
}
.mat-tab-header, .mat-tab-nav-bar {
   border-bottom: none !important
}

.mat-tab-label .mat-tab-label-content{
   font-size: 14px !important;
}


.image-upload > input
{
    display: none;
}

.img-grid{
    max-width: 100%;
    max-height: 100px;
    margin: auto;
    display: block;
    text-align: center;
}
.image-upload {
    width: 100%;
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding:15px;
    height: auto;
    float: left;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .button-row {
    width: 100%;
    float: left;
}
  .button-row button
  {
      float: right;
  }
  .button-row button,.button-row a 
  {
  margin-right: 8px;
}

.example-radio-group 
{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    float: left;
 }
  
.example-radio-button 
{
    margin: 5px;
}
  
