#beerCard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr;
    grid-template-columns: 110px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 110px;
    align-items: center;
    margin-bottom: 20px;
}

.beer-card-content {
    padding: 5px;
    .beer-card-header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
    .mat-standard-chip {
        padding: 2px 12px !important;
    }
}

.beer-card-bottom {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin-top: 10px;
    .beer-card-rating-container {
        display: grid;
        grid-template-columns: 17px 17px 17px 17px 17px;
        grid-gap: 2px;

        &.rated-4 {
            .rating-5 {
                background: #FFFFB4;
            }
        }

        .beer-card-rating {
            background: #FFCD83;
            border-radius: 25px;
            border: 1px solid #bcbbbb;
            height: 15px;
            display: grid;
            align-self: center;
        }
    }

    .beer-card-read-more{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 20px;
        text-align: right;
        align-items: center;
        font-size: 14px;
        color: #4A9F97;
    }
}


