<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="push">

        <!-- <div class="xyz" *ngFor="let post of allPost; let i = index"> -->

            <div class="xheadr">
                   <div class="imagleft">
                    <img src={{bewIfo?.logo_string}} />

                </div>

                    <label class="grid-title">  {{location}} </label>

            </div>
            <div class="scrollm">
                <mat-list>
                    <mat-list-item routerLink="/home">    
                             <mat-icon >local_drink</mat-icon>
                             <h5 class="h-text"> overview </h5>
                     </mat-list-item>

                    <mat-list-item routerLink="/yourbeer">    
                             <mat-icon >local_drink</mat-icon>
                             <h5 class="h-text">
                                    <a >drinks</a></h5>
                     </mat-list-item>


                     <mat-list-item routerLink="/events">    
                            <mat-icon >event_available</mat-icon>
                            <h5 class="h-text">
                                    <a >events</a>
                                </h5>
                    </mat-list-item>
 


                    <mat-list-item>    
                            <mat-icon >panorama_fish_eye
                                </mat-icon>
                            <h5 class="h-text"> Stamp and Control </h5>
                    </mat-list-item>




                    <mat-list-item>    
                            <mat-icon >rate_review</mat-icon>
                            <h5 class="h-text"> Review list </h5>
                    </mat-list-item>





                    <mat-list-item>    
                            <mat-icon >graphic_eq</mat-icon>
                            <h5 class="h-text"> Statistics </h5>
                    </mat-list-item> 

                    <mat-list-item routerLink="/maininfo" >    
                            <mat-icon >info</mat-icon>
                            <h5 class="h-text"> add info </h5>
                    </mat-list-item>



                    <mat-list-item>    
                            <mat-icon ></mat-icon>
                            <h5 class="h-text">  </h5>
                    </mat-list-item>


             </mat-list>
             </div>
<div  class="footer-grid">

    <div class="ft-Ty">
        <mat-list>
                <mat-list-item>    
                        <mat-icon >brightness_low</mat-icon>
                        <h5 class="h-text"> settings </h5>
                </mat-list-item>
                <mat-list-item>    
                        <mat-icon >sort</mat-icon>
                        <h5 class="h-text"> Terms </h5>
                </mat-list-item>
                

                <mat-list-item (click)="xLogout()">    
                    <mat-icon > logout </mat-icon>
                    <h5 class="h-text"> logout </h5>
            </mat-list-item>


 </mat-list>
</div> 
</div>
            
        <!-- <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon> -->

    </mat-drawer>
                                   
    <div class="example-sidenav-content"> 
            <div class="scrolls">      

        <div class="headgrid">
            <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon>
             <p class="title">  {{location}} </p>
        </div>
        <div id="homeGrid" *ngIf="isMobile()">
            <div class="homeImage">
           
                <img class="home-img" src="https://tba-vendor-dev.herokuapp.com/static/event/event1.jpg" />
                
                
            </div>
            <div class="custom-block">
                    
                <div class="top-block">
                    <div>233 Beer<br/>Stamped</div>
                    <div>15 Beer<br/>on tap now</div>
                    <div>3 event<br/>this week</div>
                </div>
                <div class="post-block" *ngFor="let post of upEvents; let i = index">
                    <img class="home-img" src={{post.events[0].featured_image}} />
                    <div class="post-caption">
                        <div class="day-view">Friday</div>
                        <div class="text-caption">
                            <h3>{{post.events[0].name}}</h3>
                            <span>{{post.start_date}}</span>
                        </div>
                    </div>
                </div>
              

                </div>
        </div>
    </div>
    </div>
  
</mat-drawer-container>



<!--Carousel Wrapper-->





<div *ngIf="!isMobile()">
    <app-home-desktop [locations]="locations"></app-home-desktop>
</div>



