<div class="top-head-grid" *ngIf="beerdata">
  <div class="backspace">
    <i class="material-icons" routerLink="/yourbeer">
      keyboard_backspace
    </i>
  </div>
  <label class="beername">
    {{beerdata.name}}
  </label> 
  <i class="material-icons">
    sort
    </i>
</div>

<mat-tab-group *ngIf="beerdata" > 
  <mat-tab label="Info">

  <div class="info-grid">
    <div class="head-info">
      <div class="head-left-grid">
          <p>User Rate:</p>
           <div class="margin-top-bottom-5 beer-card-bottom">
              <div class="beer-card-rating-container rated-4">
                <div class="beer-card-rating rating-1"></div>
                 <div class="beer-card-rating rating-2"></div>
                 <div class="beer-card-rating rating-3"></div>
                  <div class="beer-card-rating rating-4"></div>
                  <div class="beer-card-rating rating-5"></div>
                </div>
              </div> 

              <div class="image-upload">
                  <label for="file-input">
                      <img class="img-grid" src={{beerdata.beer_logo}}
                      />
                  </label>
              
                  <input id="file-input" type="file" accept="image/*" (change)="imageUpload($event)"/>
                  <label class="grid-label">Delete photo</label>
                </div>
          </div>
          
      
       
          <div class="head-right-grid">
                  <div class="ar-div" *ngIf="active == 0">
                      <p class="up-p-grid">This Beer in Archive list</p>
                      <label class="back-label-grid" (click)="beerOnTap(beerdata.id)" > Send Back on Tap</label>
                </div>

                  <div class="ac-div" *ngIf="active == 1">
                       <label class="back-label-grid" (click)="beerOnArchive(beerdata.id)" > Send To archive List </label>
                  </div>

                      <mat-form-field>
                        <input matInput [(ngModel)]="beerdata.price" name="price" placeholder="Price">
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput [(ngModel)]="beerdata.Alchohol_content" name="Alchohol_content" placeholder="Density">
                        </mat-form-field> 

                        <mat-form-field>
                            <input matInput [(ngModel)]="beerdata.Alchohol_content" name="Alchohol_content" placeholder="Alcohal content">
                          </mat-form-field>
                        
          </div>

          <div class="fl-grid-input">
              <div class="">
                  <mat-form-field appearance="standard">
                      <mat-label>Name</mat-label>
                      <input matInput  [(ngModel)]="beerdata.name"  name="name" placeholder="Placeholder">
                    </mat-form-field>

                      </div>
          </div>
          <div class="fl-grid-input">
          <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let fruit of beerdata.beer_categories" [selectable]="selectable"
                         [removable]="removable" (removed)="remove(fruit)">
                  {{fruit.beer_style.type}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Tags"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
            </div>

            <!-- <div class="fl-grid-input">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Description"  [(ngModel)]="beerdata.beer_description" name="beer_description" >
                    </mat-form-field>
                  </div>  -->
                  <!-- <div class="fl-grid-input">
                      <div class="">
                          <mat-form-field appearance="standard">
                              <mat-label>Description</mat-label>
                              <input matInput  [(ngModel)]="beerdata.beer_description"  name="beer_description" placeholder="Placeholder">
                            </mat-form-field>
        
                              </div>
                  </div> -->


                


                    <div class="fl-grid-input">
                        <div class="">
                            <mat-form-field appearance="standard">
                                <mat-label>Description</mat-label>

                                <textarea matInput [(ngModel)]="beerdata.beer_description" placeholder="Leave a comment"></textarea>
                              </mat-form-field>
                                </div>
                    </div>


                  <div class="button-row cen">
                      <button mat-flat-button color="accent" (click)="deleteBeer(beerdata.id,beerdata.beer_logo_id)">DELETE THIS BEER</button>
                  </div>
    </div>
  </div>




  </mat-tab>
  <mat-tab label="User Reviews">

      <div *ngFor="let rv of beerdata.beer_reviews; let i = index">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div class="jony">
          <div class="tsubt">
          <mat-card-title>{{rv.username}}</mat-card-title>
          <mat-card-subtitle>16.01.2018, 23:51</mat-card-subtitle>
          </div>



          <div class="margin-top-bottom-5 beer-card-bottom">
            <div class="beer-card-rating-container rated-{{rv.rating | number : '1.0-0'}}">
              <div class="beer-card-rating rating-1"></div>
              <div class="beer-card-rating rating-2"></div>
              <div class="beer-card-rating rating-3"></div>
              <div class="beer-card-rating rating-4"></div>
              <div class="beer-card-rating rating-5"></div>
              <span class="ben">{{rv.rating}}</span>
            </div>
            </div>
            <!-- <div>5</div> -->
            <mat-card-content>
              <p>
                  {{rv.message}}
              </p>
            </mat-card-content>
          </div> 
        </mat-card-header>
        
      </mat-card>
    
</div>





  </mat-tab>
</mat-tab-group>