.top-head-grid{
     width: 100%;
     padding: 15px;
     background: #043b40;
}


.backspace {
    float: left;
}

.beername {
    margin-left: 10%;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

i.material-icons {
    color: white;
}
.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none !important
}

.mat-tab-label .mat-tab-label-content{
    font-size: 14px !important;
}

.info-grid{
    width: 100%;
}

.head-left-grid {
    width: 45%;
    float: left;
    padding: 10px;

}

.head-info {
    width: 100%;
}

.beer-card-rating-container {
    display: grid;
    grid-template-columns: 17px 17px 17px 17px 17px;
    grid-gap: 2px;

    &.rated-4 {
        .rating-5 {
            background: #FFFFB4;
        }
    }

    .beer-card-rating {
        background: #FFCD83;
        border-radius: 25px;
        border: 1px solid #bcbbbb;
        height: 15px;
        width: 15px;
        display: grid;
        align-self: center;
    }
}

.beer-card-read-more{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 20px;
    text-align: right;
    align-items: center;
    font-size: 14px;
    color: #4A9F97;
}


.image-upload > input
{
    display: none;
}

.img-grid{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.grid-label{
    padding: 2px;
    margin-left: 15px;
    color: #0a4146;

}

p.up-p-grid {
    float: right;
}

.head-right-grid {
    padding: 10px;
}

label.back-label-grid {
    float: right;
    color: #0a4146;
    font-weight: 500;

}

.fl-grid-input{
    width: 100%;
}

.fl-grid-input {
    padding: 10px;
}

mat-form-field.mat-form-field.ng-tns-c5-3.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-standard.mat-form-field-can-float.mat-form-field-should-float {
    width: 100% !important;
}

mat-form-field.mat-form-field.ng-tns-c5-3.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-standard.mat-form-field-can-float.mat-focused{
    width: 100% !important;
    color: #0a4146 !important;

}

mat-form-field.example-chip-list.mat-form-field.ng-tns-c5-4.mat-primary.mat-form-field-type-mat-chip-list.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float.mat-form-field-hide-placeholder {
    width: 100%;
}