.top-head-grid{
     width: 100%;
     padding: 15px;
     background: #043b40;
}


.backspace {
    float: left;
}

.beername {
    margin-left: 10%;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

i.material-icons {
    color: white;
}
.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none !important
}

.mat-tab-label .mat-tab-label-content{
    font-size: 14px !important;
}