<div class="top-head-grid" *ngIf="beerdata">
  <div class="backspace">
    <i class="material-icons" routerLink="/yourbeer">
      keyboard_backspace
    </i>
  </div>
  <label class="beername">
    {{beerdata.name}}
  </label> 
  <i class="material-icons">
    sort
    </i>
</div>

<mat-tab-group *ngIf="beerdata"> 
  <mat-tab label="Info">

  <div class="info-grid">
    <div class="head-info">
      <div class="head-left-grid">
          <p>User Rate:</p>
           <div class="margin-top-bottom-5 beer-card-bottom">
              <div class="beer-card-rating-container rated-4">
                <div class="beer-card-rating rating-1"></div>
                 <div class="beer-card-rating rating-2"></div>
                 <div class="beer-card-rating rating-3"></div>
                  <div class="beer-card-rating rating-4"></div>
                  <div class="beer-card-rating rating-5"></div>
                </div>
              </div> 

              <div class="image-upload">
                  <label for="file-input">
                      <img class="img-grid" src={{beerdata.beer_logo}}
                      />
                  </label>
              
                  <input id="file-input" type="file"/>
                  <label class="grid-label">Delete photo</label>
                </div>
          </div>
          
      
       
          <div class="head-right-grid">
                  <p class="up-p-grid">This Beer in Archive list</p>
                  <label class="back-label-grid"> Send Back on Tap</label>

                      <mat-form-field>
                        <input matInput [(ngModel)]="beerdata.price" placeholder="Price">
                      </mat-form-field>
                    
                  
                      <mat-form-field>
                          <input matInput [(ngModel)]="beerdata.Alchohol_content" placeholder="Density">
                        </mat-form-field> 

                        <mat-form-field>
                            <input matInput [(ngModel)]="beerdata.Alchohol_content" placeholder="Alcohal content">
                          </mat-form-field>
                        
          </div>

          <div class="fl-grid-input">
              <div class="">
                  <mat-form-field appearance="standard">
                      <mat-label>Name</mat-label>
                      <input matInput  [(ngModel)]="beerdata.name" placeholder="Placeholder">
                    </mat-form-field>

                      </div>
          </div>
          <div class="fl-grid-input">
          <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                         [removable]="removable" (removed)="remove(fruit)">
                  {{fruit.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Tags"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
            </div>

            <div class="fl-grid-input">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Description"
                      [(ngModel)]="beerdata.beer_description" >
                    </mat-form-field>
                  </form>
                  </div> 
                  <div class="button-row cen">
                      <button mat-flat-button color="accent">DELETE THIS BEER</button>
                  </div>
    </div>
  </div>




  </mat-tab>
  <mat-tab label="User Reviews">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div class="jony">
          <div class="tsubt">
          <mat-card-title>Tandem</mat-card-title>
          <mat-card-subtitle>16.01.2018, 23:51</mat-card-subtitle>
          </div>



          <div class="margin-top-bottom-5 beer-card-bottom">
            <div class="beer-card-rating-container rated-4">
              <div class="beer-card-rating rating-1"></div>
              <div class="beer-card-rating rating-2"></div>
              <div class="beer-card-rating rating-3"></div>
              <div class="beer-card-rating rating-4"></div>
              <div class="beer-card-rating rating-5"></div>
              <span class="ben">-3,4</span>
            </div>
            </div>
            <!-- <div>5</div> -->
            <mat-card-content>
              <p>
                We have passion for American craft beer and we believe that we should
                enlighten ourfellow.
              </p>
            </mat-card-content>
          </div> 
        </mat-card-header>
        
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <div class="jony">
          <div class="tsubt">
          <mat-card-title>Tandem</mat-card-title>
          <mat-card-subtitle>16.01.2018, 23:51</mat-card-subtitle>
          </div>



          <div class="margin-top-bottom-5 beer-card-bottom">
            <div class="beer-card-rating-container rated-4">
              <div class="beer-card-rating rating-1"></div>
              <div class="beer-card-rating rating-2"></div>
              <div class="beer-card-rating rating-3"></div>
              <div class="beer-card-rating rating-4"></div>
              <div class="beer-card-rating rating-5"></div>
              <span class="ben">-3,4</span>
            </div>
            </div>
            <!-- <div>5</div> -->
            <mat-card-content>
              <p>
                We have passion for American craft beer and we believe that we should
                enlighten ourfellow.
                
              </p>
            </mat-card-content>
          </div> 
        </mat-card-header>
        
      </mat-card>    







  </mat-tab>
</mat-tab-group>