<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="push">

        <div class="xheadr">
            <div class="imagleft">
                <img src={{bewIfo?.logo_string}} />

            </div>

            <label class="grid-title">{{location}} </label>

        </div>
        <div class="scrollm">
            <mat-list>
                <mat-list-item routerLink="/home">
                    <mat-icon>local_drink</mat-icon>
                    <h5 class="h-text"> overview </h5>
                </mat-list-item>

                <mat-list-item routerLink="/yourbeer">
                    <mat-icon>local_drink</mat-icon>
                    <h5 class="h-text">
                        <a>drinks</a>
                    </h5>
                </mat-list-item>


                <mat-list-item routerLink="/events">
                    <mat-icon>event_available</mat-icon>
                    <h5 class="h-text">
                        <a>events</a>
                    </h5>
                </mat-list-item>



                <mat-list-item>
                    <mat-icon>panorama_fish_eye
                    </mat-icon>
                    <h5 class="h-text"> Stamp and Control </h5>
                </mat-list-item>




                <mat-list-item>
                    <mat-icon>rate_review</mat-icon>
                    <h5 class="h-text"> Review list </h5>
                </mat-list-item>





                <mat-list-item>
                    <mat-icon>graphic_eq</mat-icon>
                    <h5 class="h-text"> Statistics </h5>
                </mat-list-item>

                <mat-list-item routerLink="/maininfo">
                    <mat-icon>info</mat-icon>
                    <h5 class="h-text"> add info </h5>
                </mat-list-item>



                <mat-list-item>
                    <mat-icon></mat-icon>
                    <h5 class="h-text"> </h5>
                </mat-list-item>


            </mat-list>
        </div>
        <div class="footer-grid">

            <div class="ft-Ty">
                <mat-list>
                    <mat-list-item>
                        <mat-icon>brightness_low</mat-icon>
                        <h5 class="h-text"> settings </h5>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon>sort</mat-icon>
                        <h5 class="h-text"> Terms </h5>
                    </mat-list-item>

                    <mat-list-item (click)="xLogout()">
                        <mat-icon> logout </mat-icon>
                        <h5 class="h-text"> logout </h5>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

        <!-- <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon> -->

    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="scrolls">

            <div class="headgrid">
                <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon>
                <p class="title"> Events</p>
                <i class="material-icons" (click)="openDialog()">
                    <a>add</a>
                </i>
            
              
                  
            </div>
            <div id="homeGrid" *ngIf="isMobile()">
                <div class="custom-block">

                    <div class="cal">
                        <h2>Choose Date:</h2>
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker" [ngModel]="myDate" (ngModelChange)="updateMyDate($event)"  placeholder="Choose a date,to see, what plan on this date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker  ></mat-datepicker>
                        </mat-form-field>
                        <!-- <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="roomsFilter.date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker [(ngModel)]="roomsFilter.date" ngDefaultControl (selectedChanged)="onDate($event)"></mat-datepicker>
                              </mat-form-field> -->
                            
                    </div>

                    <div class="post-block" *ngIf="upEvents">
                        <img class="home-img" src={{upEvents[0]?.events[0].featured_image}}  />
                        <div class="post-caption">
                            <div class="day-view">{{upEvents[0]?.start_date | date:'EEEE' }}</div>
                            <div class="text-caption">
                                <h3>{{upEvents[0]?.events[0].name}}</h3>
                                <span>{{upEvents[0]?.start_date | date:'h:mm:ss a' }} {{ upEvents[0]?.end_date | date:'h:mm:ss a'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="cal">
                        <h2>Later this week:</h2>
                        <br/>
                    </div>
                    <div class="partition">
                        <div class="post-block" *ngFor="let post of upEvents; let i = index">
                            <img class="home-img" src={{post.events[0].featured_image}} />
                            <div class="post-caption">
                                <div class="day-view">{{post.start_date | date:'EEEE' }}</div>
                                <div class="text-caption">
                                    <h3> {{post.events[0].name}} </h3>
                                    <span>{{post.start_date | date:'h:mm:ss a' }} {{ post.end_date | date:'h:mm:ss a'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-drawer-container>



<!--Carousel Wrapper-->





<div *ngIf="!isMobile()">
    <app-home-desktop [locations]="locations"></app-home-desktop>
</div>