#homeDesktopWrapper  {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        padding: 40px;
        grid-gap: 30px;

        .home-map-wrapper {
                height: 600px;
                margin-bottom: 20px;
        }
}