<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push">

    <div class="xheadr">
      <div class="imagleft">
        <img src={{bewIfo?.logo_string}}  />

      </div>

      <label class="grid-title">{{bewIfo?.name}}</label>

    </div>
    <div class="scrollm">
      <mat-list>
        <mat-list-item routerLink="/home">
          <mat-icon>local_drink</mat-icon>
          <h5 class="h-text"> overview </h5>
        </mat-list-item>

        <mat-list-item routerLink="/yourbeer">
          <mat-icon>local_drink</mat-icon>
          <h5 class="h-text">
            <a>drinks</a>
          </h5>
        </mat-list-item>


        <mat-list-item routerLink="/events">
          <mat-icon>event_available</mat-icon>
          <h5 class="h-text">
            <a>events</a>
          </h5>
        </mat-list-item>



        <mat-list-item>
          <mat-icon>panorama_fish_eye
          </mat-icon>
          <h5 class="h-text"> Stamp and Control </h5>
        </mat-list-item>




        <mat-list-item>
          <mat-icon>rate_review</mat-icon>
          <h5 class="h-text"> Review list </h5>
        </mat-list-item>





        <mat-list-item>
          <mat-icon>graphic_eq</mat-icon>
          <h5 class="h-text"> Statistics </h5>
        </mat-list-item>

        <mat-list-item routerLink="/maininfo">
          <mat-icon>info</mat-icon>
          <h5 class="h-text"> add info </h5>
        </mat-list-item>



        <mat-list-item>
          <mat-icon></mat-icon>
          <h5 class="h-text"> </h5>
        </mat-list-item>

      </mat-list>
    </div>
    <div class="footer-grid">

      <div class="ft-Ty">
        <mat-list>
          <mat-list-item>
            <mat-icon>brightness_low</mat-icon>
            <h5 class="h-text"> settings </h5>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>sort</mat-icon>
            <h5 class="h-text"> Terms </h5>
          </mat-list-item>

          <mat-list-item (click)="xLogout()">
            <mat-icon> logout </mat-icon>
            <h5 class="h-text"> logout </h5>
          </mat-list-item>

        </mat-list>
      </div>
    </div>

    <!-- <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon> -->

  </mat-drawer>

  <div class="example-sidenav-content">

    <div class="scroll">
      <div class="headgrid">
        <mat-icon class="mat-left" (click)="drawer.toggle()">dehaze</mat-icon>
        <p class="title"> main info </p>
      </div>
      <div id="homeGrid" *ngIf="isMobile()">

        <div class="image-upload">
          <label for="file-input">
            <img class="img-grid" src={{bewIfo?.logo_string}} >
          </label>
          
          <input id="file-input" type="file" accept="image/*" (change)="imageUpload($event)"/>
        </div>


        <div class="custom-block">
          <b>Your contact info</b>
          <form #f="ngForm" (ngSubmit)="updateInfo(f)" class="example-form" *ngIf="bewIfo">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name of your Brewery" [(ngModel)]="bewIfo.name" name="name" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contact Phone" [(ngModel)]="bewIfo.phone" name="phone" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contact Email" [(ngModel)]="bewIfo.support_email" name="support_email" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Website" [(ngModel)]="bewIfo.website_url" name="website_url" required>
            </mat-form-field>
            <div class="edito">
              <b>Ammenities, which you offer
                <a href="#">Edit</a>
              </b>

            </div>
            <div class="edito_icon">
              <i class="material-icons">
                add_comment
              </i>
              <i class="material-icons">
                local_dining
              </i>
              <i class="material-icons">
                access_time
              </i>
              <i class="material-icons">
                access_time
              </i>

            </div>
            <div class="work_hors">
              <b>Your Working Hours
                <a routerLink="/workinghours" href="#">Edit</a>
              </b>
              <div class="xyz" *ngFor="let loc of bewIfo?.location_hours; let i = index">
                <div class="sun">
                  <label class="whl">{{loc?.day}}</label>
                  <label class="whr">{{loc?.opening_hour}}-{{loc?.closing_hour}}</label>
                </div>
              </div>
              <!-- <div class="sun"> 
              <label class="whl">Monday</label><label class="whr">12:00-17:00</label>
              </div>
              <div class="sun"> 
              <label class="whl">Tuesday</label><label class="whr">12:00-17:00</label>
              </div>
              <div class="sun"> 
              <label class="whl">Wednesday</label><label class="whr">12:00-17:00</label>
              </div>
              <div class="sun"> 
              <label class="whl">Thursday</label><label class="whr">12:00-17:00</label>
              </div>
              <div class="sun"> 
              <label class="whl">Friday</label><label class="whr">12:00-17:00</label>
              </div>
              <div class="sun"> 
              <label class="whl">Saturday</label><label class="whr">12:00-17:00</label>
            </div>  -->





            </div>

            <b>Adress</b>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name of State" [(ngModel)]="bewIfo.state" name="state" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name of City" [(ngModel)]="bewIfo.city" name="city" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address" [(ngModel)]="bewIfo.address" name="address" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="zipcode" [(ngModel)]="bewIfo.zipcode" name="zipcode" required>
            </mat-form-field>

            <div class="buttn">
              <button [disabled]="f.invalid" mat-flat-button color="accent">save</button>
            </div>


          </form>


        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>



<!--Carousel Wrapper-->





<div *ngIf="!isMobile()">
  <app-home-desktop [locations]="locations"></app-home-desktop>
</div>