<div class="top-head-grid">
  <div class="backspace">
    <i class="material-icons" routerLink="/yourbeer">
      keyboard_backspace
    </i>
  </div> 
  <label class="beername">
     New Beer
  </label> 
  </div>


  <div class="info-grid">
    <div class="head-info">

        <form #f="ngForm" (ngSubmit)="addBear(f)" class="example-form" >

      <div class="head-left-grid">
          

              <div class="image-upload">
                  <label for="file-input">
                      <img class="img-grid" src="assets/imgs/slide-3.jpg"/>
                  </label>
              
                  <input id="file-input" type="file" accept="image/*" (change)="imageUpload($event)"  type="file"/>
                  <label class="grid-label">Delete photo</label>
                </div>
          </div>
          
      
       
          <div class="head-right-grid">
                  <mat-form-field>
                        <input matInput  [(ngModel)]="price" name="price" placeholder="Price">
                      </mat-form-field>
                    
                  
                      <mat-form-field>
                          <input matInput   [(ngModel)]="density" name="density" placeholder="Density">
                        </mat-form-field> 

                        <mat-form-field>
                            <input matInput   [(ngModel)]="alchohol_content"   name="alchohol_content" placeholder="Alcohal content">
                          </mat-form-field>
                        
          </div>

          <div class="fl-grid-input">
              <div class="anup">
                  <mat-form-field appearance="standard">
                      <mat-label>Name</mat-label>
                      <input matInput   [(ngModel)]="name" name="name" placeholder="Placeholder">
                    </mat-form-field>

                      </div>
          </div>
          <div class="fl-grid-input">
              <div class="anup">
          <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                         [removable]="removable" (removed)="remove(fruit)">
                  {{fruit.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Tags"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
            </div>
            </div>

            <div class="fl-grid-input">
                    <mat-form-field >
                      <input matInput placeholder="Description"
                      [(ngModel)]="beer_description" name="beer_description">
                    </mat-form-field>
                  </div> 
                  <div class="button-row cen">
                      <button mat-flat-button color="accent">SAVE</button>
                  </div>

                </form>

    </div>

  </div>




