.white {color: #fff;}

.padding-bottom-10 {padding-bottom: 10px;}
.padding-bottom-15 {padding-bottom: 15px;}
.padding-bottom-20 {padding-bottom: 20px;}
.padding-15 {padding: 15px;};
.padding-0 {padding: 0px !important;};
.padding-left-10 {padding-left: 10px;};
.padding-right-10 {padding-right: 10px;};

.margin-bottom-10 {margin-bottom: 10px !important;};
.margin-bottom-15 {margin-bottom: 15px !important;};
.margin-bottom-20 {margin-bottom: 20px !important;};
.margin-top-20 {margin-top: 20px !important;;};
.margin-top-bottom-5 {margin: 5px auto;};
.margin-left-15 {margin-left: 15px;}
.margin-10 {margin: 10px 0;}
.margin-20-top-bottom {margin: 20px 0;}

.justify-left {justify-self: left;};
.justify-right {justify-self: right;};

.font-18 {font-size: 18px;};
.font-14 {font-size: 14px;};
.font-300 {font-weight: 300;};
.font-400 {font-weight: 400;};
.font-600 {font-weight: 600;};

.bold {font-weight: 600;};
.image-100 {height: 100px; width: 100px;};

.grid {display: grid;};
.grid-gap-20 {grid-gap: 20px !important;};