$borderColor: #d9d9d9;
$secondaryColor: #536883;
$primaryColor: #0D7069;
$primaryColorDark: #043B40;

$primaryTextColor: #555;
$primaryHightlightColor: #FFFFB4;

$primaryButtonColor: #0D7069;
$secondaryColorLight: #4A9F97;